body{
    min-height: 50vh;
    display: flex;
}

.container {
    display: flex;
    flex-direction: column;
    padding:100px;
    width:300px;
    height: 600px;
    background-color: lightgray;
    border: 4px solid black;
}
.operators{
    display: flex;
    justify-content: space-between;
    height:40px;
}

.numbers {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    column-gap: 50px;
    justify-content: center;
    align-items: center;
}

.actions {
    display: flex;
    justify-content: space-evenly;
}

.operator, .number, .action{
    font-size: 24px;
}

button {
    height: 40px;
    width: 40px;
}

.displays {
    justify-content: center;
    display: flex;
    text-align: center;
    width: 300px;
    height: 60px;
    font-size: 50px;
    margin-bottom: 20px;
    border: 2px solid black
}

